body{
    background-color:lightgray;

}
.Topo{
    display:flex;
    height:150px;
    background-color:bisque;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border:2px solid darkgreen;
}
/* arrumar a cor da borda */
.imagem_topo{
    width:120px;
    height:120px;
}
#F1{
    order:-1;
}
#Titulo{
    color: darkgreen;
}
.Menu{
    background-color:lightskyblue;
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    color:darkred;
    font-size:12px;
}
h2{
    display:flex;
    justify-content:center;
}
.Introdução{
    color:indigo;
    display:flex;
    flex-direction:row;;
    flex-wrap:wrap;
    font-family:"SansSerif";
    

}

.Livro{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    gap: 60px;
    
}
.Livro_img_1{
    width:150px;;
    height:210px;

}
.Livro_2{
    width:170px;
    height:210px;
}
.Programação{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:70px;
}
.Tabela{
    display:flex;
    justify-content:center;
    margin:20px;
}
#table{
    border:1px dashed red;
}
td{
    padding:10px;
}


.Sites{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-around;
    align-items:flex-start;
    margin:0 auto;
    width:600px;
    height:130px;
    gap:2px;
    background-color:yellow;
}


.link{
    width:fit-content;
    height:fit-content;
    color:darkred;
    
}


.final{
    display:flex;
    margin-top:15px;
    flex-direction:row;
    justify-content:space-between;
    background-color:bisque;
    align-items:center;
    font-family:"Comic Sans Ms";
    width:100%;
    
}
#Foto{
    width:100px;
    height:100px;
    order:-1;
}
.Foto_fim{
    width:80px;
    height:100px;
}

