.create{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    margin-left:15px;
}
body{
    margin:0;
    background-color:gray;
}
#form_1{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:10px;
}
#titulo{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:100px;
}

.create_2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    margin-left:15px;
}
.create_3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    margin-left:15px;
}
.create_4{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    margin-left:15px;
}
.create_5{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    margin-left:15px;
}

#form_2{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:10px;
}

#form_3{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:10px;
}

#form_4{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:10px;
}
#form_5{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:10px;
}