body{
    background-color:azure;
    margin:0;
}

.mensagem{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:50px;

}

form{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:25px;
    margin-left:15px;
    margin-top:70px;
}

.botoes{
    display:flex;
    flex-direction:row;
    gap:15px;
}