     p{
        color:blue;
        background-color: red;
          }

         #p1{
        background-color: green;
         }
     
         #p2{
        background-color: yellow;
          }
          .pb{
            color:white;
            background-color:black
          }
          a{
            color:aqua;
            background-color:aqua
          }