#inicio{
    display:flex;
    justify-content:center;
    margin-top:15px;
    gap:5px;
}
.texto_inicio{
    color:white;
    background-color: blueviolet;
    width:150px;
}
#links{
    display:flex;
    justify-content:center;
    margin-top:5px;
    margin-bottom:20px;
}
#paragraph{
    color:blueviolet;
    
}
.more_links{
    display:flex;
    justify-content:center;
    flex-wrap:nowrap;
    margin-top:5px;
    gap:5px;
    margin-bottom:30px;
}
#Friends{
    display:flex;
    justify-content:center;
}
.photos{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}
#hr{
    background-color:#5BC0DE;
    height:2px;
    border:none;
}
figcaption{
    color:blueviolet;
}
.menu_final{
    display:flex;
    justify-content:center;
    gap:5px;
}
#fim{
    display:flex;
    justify-content:center;
}