.body{
    background-color:red;
}
h1{
    margin-top:40px;
    display:flex;
    justify-content:center;
}
#cnv{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:70px;
}
#canvas{
    background-color:blue;
}