.post{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:20px;
    background-color:antiquewhite;
    border:2px black solid;
    border-radius:2px;
    margin-bottom:25px;
    margin-top:30px;
}

#inicio{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-top:30px;
}
body{
    background-color:aqua;
    margin:0;

}
form{
    display:flex;
    justify-content:center;
    align-items:center;
}
h1,h3{
    display:flex;
    justify-content:center;
}